/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* La fonction trier */
.btn-filter
{
	border: 1px solid #1D6154;
	border-radius: 60px;
	width: 190px;
	height: 37px;
	padding: 5px;
	position: relative;
	left: 130px;
	margin: 0 10px 30px 0;
	background: white;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
}
.object
{
	border: 1px solid #1D6154;
	border-radius: 60px;
	width: 190px;
	height: 37px;
	padding: 5px;
	position: relative;
	left: 130px;
	margin: 0 10px 0 0;
	background: white;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
}
.green
{
	background: #1D6154;
	color: white;
}

.button-active {
	background-color: #1D6154;
	color: #ffffff;
}
  
.button-inactive {
	background-color: #ffffff;
	color: #1D6154;
}
/**/

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


/* La page login */
h3 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 5px;
	width: 379px;
	height: 51px;
}

.custom-input {
    width: 379px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    color: #333333;
}
/* personnaliser l'apparence de l'input */
.custom-input::placeholder {
    color: #999999;
}

label {
	margin: 11px 0 5px 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


a {
    color: black;
    text-decoration: none;
}

.mention-legal 
{
	display: flex;
	justify-content: flex-end;
	margin: 32px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 32px;
}
#footer-login {
	position: fixed;
	bottom: 0; /* on le colle en bas */
	left: 0;
	width: 100%;
  }

  .input-connect{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 32px auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
    outline: none;
	padding: 10px 0px;
}

/* admin */
.modif
{
	background-color: white;
	padding: 20px 0px 20px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 16.42px;
	color: #1D6154;
	border: none;
	/* 
	position: relative;
	bottom: 120px;
	width: 10px;*/ 
}

figure
{
	display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
figure img
{
	width: 85%;
	height: 85%;
	object-fit: cover;
}

.align {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    margin: AUTO;
}

/* Les boîtes modales */
* {
	box-sizing: border-box;
}

.modal
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
}
.modal-wrapper
{
	width: 680px;
	max-width: 780px;
	height: 750px;
	padding: 20px;
	background-color: white;
	overflow: auto;
	flex: 1;
	position: relative;
	border-radius: 15px;
}
.modal.show
{
	visibility: visible;
	opacity: 1;
}
h4
{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	text-align: center;
	margin: 50px;
}

.modalManager
{
	display: flex;
	flex-wrap: wrap;
}
.modalManager img
{
	width: 78px;
	height: 104px;
	margin: 25px 35px 5px 35px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.btn-edit {
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: 400;
    border: 0px solid transparent;
    background: white;
    position: relative;
    left: 28px;
    top: 10px;
    cursor: pointer;
}
/*bouton ajouter photo*/
.photo {
    color: black;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 20px 0;
}
.linkphoto {
    background: #1D6154;
    width: 237px;
    height: 36px;
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 700;
    border-radius: 60px;
    color: white;
    padding: 10px;
    text-decoration: none;
}


.delete-gallery {
    color: #D65353;
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*bouton supprimer*/
.trash-can-button {
    position: relative;
    top: -113px;
    left: 90px;
    width: 16px;
    background: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

/*bouton deplacer*/

.fa-up-down-left-right {
    position: absolute;
    top: 187px;
    left: 89px;
    background: black;
    color: white;
    border: 2px solid black;
	visibility: hidden;
}

/*bouton fermer*/
.fa-arrow-left
{
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
}
.return-close 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Modale 5 */
.background
{
	width: 420px;
	height: 169px;
	background: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5px 0;
}

.modal-wrapper {
    width: 680px;
    max-width: 780px;
    height: 750px;
    padding: 20px;
    background-color: white;
    overflow: auto;
    flex: 1;
    position: relative;
    border-radius: 15px;
}
#submit-button
{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #A7A7A7;
	border: 1px solid #A7A7A7;
	color: white;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
}
#submit-button:enabled
{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	cursor: pointer;
}

.galleryModalFour
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fa-regular
{
	color: #306685;
}

.add-photo
{
	background: #CBD6DC;
	color: white;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	width: 127px;
	height: 26px;
	color: #306685;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5px 0;
}
.jpg
{
	color: #444444;
    font-size: 10px;
}

#title {
    display: flex;
    width: 420px;
    height: 51px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: 1px solid #ffffff;
    margin-top: 5px;
}
label
{
	display: flex;
}

#category {
    display: flex;
    width: 420px;
    height: 51px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: 1px solid #ffffff;
    margin-top: 5px;
    color: black;
}

.margin
{
margin: 40px 95px 10px;
}

/*bande noire*/
.Black-background
{
	background: black;
	width: 100%;
	height: 59px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	margin: -10px 0 0 0;
	justify-content: center;
}
.publish
{
	width: 216px;
	height: 38px;
	border-radius: 60px;
	cursor: pointer;
}

.four {
    position: relative;
    left: 0px;
    bottom: -25px;
    color: white;
    margin-right: 10px;
}
